<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.teamlikeus.whattobuy" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WhatToBuy</name>
  <description>
        Super simpel handleliste!
    </description>
  <author email="jerstad.geir.ivar@gmail.com" href="">
      Geir Ivar Jerstad
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>